

<form action="/artist-search" method="GET">
    <label>
        <input type="text" name="artist" class="form-control">
    </label>
    <button type="submit" class="btn btn-outline-primary">Search for an Artist</button>
</form>
